# Python
__pycache__/
*.py[cod]
*$py.class

# Envs
.venv/
.env

# Packaging
build/
dist/
.eggs/
*.egg-info/

# IDE
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.DS_Store

# Alembic local state
.alembic/
*.log
